* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #FF6900;
    color: white;
    height: 70px;
    width: 100%;
}

.container-top {
    display: flex;
    justify-content: space-around;
}

.sex {
    flex-direction: row;
}