* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* header */

header {
    background-color: #FF6900;
    color: white;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 15;
}

.container-header {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sex, .symbols, .logo-img {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.logo {
    height: 25px;
}

.sex li, .symbols li {
    padding-right: 1rem;
}


/* main */

main {
    margin: auto;
    max-width: 1100px;
    padding-top: 100px;
    display: flex;
}
 
.container-m-top, .container-m-bottom {
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 70px;
}

main img {
    width: calc(1100px / 3 - 2rem);
}

.image {
    position: relative;
}

.heart {
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0px;
    text-align: center;
    font-size: 30px;
    padding: 0px 15px;
}

.discount {
    background-color: red;
    position: absolute;
    bottom: 120px;
    left: 0px;
    text-align: center;
    font-size: .6em;
    padding: 5px 10px;
    color: white;
}

.sustainability {
    background-color: green;
    position: absolute;
    bottom: 120px;
    left: calc(25px + .6em * 4);
    text-align: center;
    font-size: .6em;
    padding: 5px 10px;
    color: white;
}

.brand {
    font-weight: 400;
}

.uppercase {
    text-transform: uppercase;
}

.price-red {
    color: red;
}

.through {
    text-decoration: line-through;
}

.bot-sus {
    left: 0px;
}

footer {
    background-color: #1A1A1A;
    margin-top: 70px;
}

.container-footer {
    height: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
}

.info {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.info-bottom {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.info-bottom li, .info li {
    vertical-align: middle;
    text-align: center;
    padding: 1rem;
}

.img-pri {
    z-index: 2;
    position: relative;
}

.img-pri:hover {
    display: none;
}

.img-hov {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
